@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
}

.intro-hero {
  background-position: center;
  background-size: cover;
  background-image: url("./assets/landscape.jpg");
}

.home-container {
  background: hsla(0, 0%, 0%, 0.5);
  border-radius: 2rem;
  color: #000;
}

.socials {
  z-index: 1000;
}

.nav-section {
  z-index: 1000;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.web-hero {
  background-position: 20% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("./assets/coffee.jpg");
}

.arrow {
  animation: fadeInOut 5s ease-in-out infinite;
}

.nav-section {
  position: fixed;
  z-index: 1000;
  color: white;
}

.progress-bar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  right: 0;
  height: 10px;
  background: brown;
  transform-origin: 0%;
}

.project-card {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 5px rgb(0, 0, 0);
  line-height: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.project-photo {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-form {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.nav-links-small-each.shown {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.nav-links-small-each {
  display: none;
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
